@import "tailwindcss";

:root {
  --background: #fdfbd4;
  --foreground: #38240d;

  --primary: #713600;
  --accent: #c05800;
  --card: #fffdf2;
  --border: #e7dcc8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  background: var(--background);
  color: var(--foreground);

  font-family:
    Inter,
    system-ui,
    sans-serif;

  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f3ecd7;
}

::-webkit-scrollbar-thumb {
  background: #c05800;
  border-radius: 999px;
}

/* SELECTION */

::selection {
  background: #c05800;
  color: white;
}